# Movies Tonight Part 3: SQL DML

In [5]:
%load_ext sql
%sql sqlite:///Movies.db;

'Connected: @Movies.db;'

1. **Load the `DATASET.csv` file into the `Movies.db;` database.**  
    - Import the CSV file to create a new table called `DATASET`. Follow the example [here](http://www.sqlitetutorial.net/sqlite-import-csv/).
    - Use a [`PRAGMA table-info` pseudo-query](https://www.sqlite.org/pragma.html#pragma_table_info) to inspect the design of the new table. [How are we going to handle dates](https://www.sqlite.org/datatype3.html)?

In [ ]:
%%sql
INSERT SELECT *
    FROM DATASET;

In [ ]:
2. **Populate the tables with data.**  

    - Use `INSERT ... SELECT ...` queries to extract data from `DATASET` for each table of your other tables. 
    - Start with the strong entities before moving on to the weak ones. Be sure to always select distinct     values. 
    - Foreign Keys get special treatment. You will have to use JOINs to pick up the PKs from the other side of the relationships. (As in Part 1, use the fact that movie names, theater names, and people names are always unique in our source data. That way you can use then for the JOIN columns. 
    - If you have to start over, then rerun your DDL queries from Part 2.

In [ ]:
%%sql
INSERT INTO MOVIES (MTitle, Rating)
SELECT DISTINCT MTitle, Rating
    FROM DATASET;

In [ ]:
%%sql
INSERT INTO THEATERS (TName, Phone, Location)
SELECT DISTINCT TName, Phone, Location
    FROM DATASET;

In [ ]:
%%sql
INSERT INTO ARTISTS (AName)
SELECT DISTINCT CName
    FROM DATASET;

In [ ]:
%%sql
INSERT INTO SHOWS (STime, MID, TID)
SELECT DISTINCT ShowTime, MID, TID
    FROM DATASET
    JOIN MOVIES USING (MTitle)
    JOIN THEATERS USING (TName);

In [ ]:
%%sql
INSERT INTO SHOWS (STime, MID, TID)
SELECT DISTINCT ShowTime, MID, TID
    FROM DATASET
    JOIN MOVIES USING (MTitle)
    JOIN THEATERS USING (TName);

In [ ]:
%%sql
INSERT INTO CREDITS (MID, AID, CCode)
SELECT DISTINCT MID, AID, CCode
    FROM DATASET
    JOIN ARTISTS ON (AName=CName)
    JOIN MOVIES USING (MTitle);

3. **Check your work.**  
There are 9 theaters, 23 movies, 152 artists, 131 shows, and 161 credits.

In [9]:
%%sql
SELECT * FROM THEATERS;

 * sqlite:///Movies.db;
Done.

[(1, 'Akarakian Theatres Moreno 4 Cinemas', '(909) 485-2899', 'The Intersection Of Alessandro + Perris Blvds, Moreno Valley'),
 (2, 'Cinema Star The Ultraplex 14', '(909) 342-2256', 'Mission Grove, Riverside'),
 (3, 'General Cinema Rancho 6', '(714) 370-2085', ' I-215 At Mt. Vernon S. At I-10, San Bernardino'),
 (4, 'Pacific Inland Center', '(714) 381-1611', ' Inland Center Mall, San Bernardino'),
 (5, 'SOCAL Canyon Crest Cinema', '(909) 682-6900', 'Central Avenue South Of 60 Freeway Near Ucr, Riverside'),
 (6, 'SOCAL Canyon Springs Cinema', '(909) 782-0800', 'East Of I-215 On 60 Freeway At Day Street Canyon, Moreno Valley'),
 (7, 'SOCAL Marketplace Cinema', '(909) 682-4040', 'University/mission Inn Exits East Of 91 Freeway On, Riverside'),
 (8, 'United Artists Riverside (Galleria) Tyler Mall', '(714) 689-802', 'Riverside Fwy Tyler, Riverside'),
 (9, 'United Artists Riverside Park Sierra', '(909) 359-6995', '3600 Park Sierra Dr., Riverside')]

4. **Now check the source data.**  
There are actually 13 duplicate rows in the original source data! Can you spot them? Write a SQL query that counts how many times each (MTitle, TName, Showtime, CCode, and CName) appears. Which ones appear more than once?

In [19]:
%%sql
SELECT DISTINCT COUNT (*)
FROM DATASET;

 * sqlite:///Movies.db;
Done.

[(913,)]

5. **Drop the `DATASET` table.**  
We don't need it anymore.

In [20]:
%%sql
DROP TABLE DATASET;

 * sqlite:///Movies.db;
Done.

[]

6. **Save, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 3".

In [21]:
%%sql 
git add .

 * sqlite:///Movies.db;
(sqlite3.OperationalError) near "git": syntax error [SQL: 'git add .'] (Background on this error at: http://sqlalche.me/e/e3q8)